<div id="footer">
  <div class="container">
    <p class="pull-left" style="margin-top: 10px;">&copy; Kevin Ford
    </p>
    <div style="margin-left: 45%; margin-bottom: 5px;">
      <div class="social-icons">
        <a href="https://github.com/kjford" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/KevinFordPhD" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="http://www.linkedin.com/pub/kevin-ford/82/9a7/a2/"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
