body {
    margin : 0;
    padding : 0;
    padding-top : 50px;
}
#map {
    position : absolute;
    height : calc(100% - 50px);
    width : 100%;
}
#menu {
    display : block;
    float : right;
    left : 0;
    margin : 10px;
    position : absolute;
    text-align : center;
    top : 50px;
}
#menu div, #menu #find input {
    border : 1px solid gray;
    border-radius : 3px;
}
#menu #find img {
    height : 23px;
    margin : 0 0 0 10px;
    opacity : 1.0;
    vertical-align : top;
}
#menu #find img:hover {
    opacity : 0.8;
}
#menu #find img:active {
    -webkit-filter : invert(100%);
}
#menu div {
    background-color : #E8E8FF;
    padding : 15px;
}
#menu #score {
    border-top : none;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    clear : both;
    display : none;
    font : bold medium monospace;
}
.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: brown;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
#map .bubble circle {
  fill: brown;
  fill-opacity: .5;
  stroke: white;
  stroke-width: .5px;
}

#map--basic .bubble circle,
#map--sorted .bubble circle {
  stroke: white;
}

#map--sorted .bubble circle {
  fill-opacity: .5;
  stroke-width: .5px;
}

#map .bubble circle:hover {
  stroke: black;
  stroke-width: .5px;
}

#map,
#map svg {
  width: 960px;
  height: 600px;
}

.map,
.map svg {
  width: 720px;
  height: 450px;
}