{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/world.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="wrap">
  <div class="container">
    <div class="slider-form">
      <!-- Query builder form -->
      <form id="form" class="form-inline" role="form">
        <div>
          <input id="edu" class="slider" type="range" min="0.000" max="0.990" step="0.001" value="{{settings['edu_index']}}" name="edu_index" />
          <input id="edu-textbox" class="textbox" type="text" value="{{settings['edu_index']}}" maxlength="5" size="20" />
        </div>

        <div>
          <input id="age" class="slider" type="range" min="0" max="44" value="{{settings['median_age']}}" name="median_age" />
          <input id="age-textbox" class="textbox" type="text" value="{{settings['median_age']}}" maxlength="2" />
        </div>

        <div>
          <input id="gdp" class="slider" type="range" min="0" max="1000000" step="10000" value="{{settings['gdp']}}" name="gdp" />
          <input id="gdp-textbox" class="textbox" type="text" value="{{settings['gdp']}}" maxlength="10" size="20" />
        </div>

        <select id="order_by" name="order_by">
          <option value="country" {% if order_by == "country" %} selected="selected" {% endif %}>Country</option>
          <option value="edu_index" {% if order_by == "edu_index" %} selected="selected" {% endif %}>Education Index</option>
          <option value="median_age" {% if order_by == "median_age" %} selected="selected" {% endif %}>Median Age</option>
          <option value="gdp" {% if order_by == "gdp" %} selected="selected" {% endif %}>GDP</option>
        </select>

        <select id="sort" name="sort">
          <option value="ASC" {% if sort == "ASC" %} selected="selected" {% endif %}>Ascending</option>
          <option value="DESC" {% if sort == "DESC" %} selected="selected" {% endif %}>Descending</option>
        </select>
        <button id="reset" type="submit" class="btn btn-default">Reset</button>
      </form>
    </div>

    <!-- Bubblechart goes here -->
    <div id="chart"></div>

    <!-- Tooltip div that appears when mousing over points on the Bubblechart -->
    <div id="tooltip" class="hidden">
      <p style="text-align: center;"><strong>World Index</strong></p>
      <p><span id="value"></span></p>
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
  <script>
    // Passing data to the global window.
    var data = {{ settings['data'] | safe }};
  </script>
  <script src="{{ url_for('static', filename='js/form-controls.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bubblechart.js') }}"></script>
{% endblock %}
