{% extends 'layout/base.html' %}
{% block content %}
<div id='wrap'>
    <iframe src="//slides.com/kjford/tapmapper/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}