{% extends "layout/base.html" %}

{% block content %}
  
  <div id="wrap">
    <h2>Beers that make {{settings['city']}} unique</h2>
    <div class="container">
      <div id="table">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <th>Beer</th>
              <th>Brewer</th>
              <th>Brewer Location</th>
              <th>Uniqueness Score</th>
              <th>Beer Rating</th>
            </thead>
            <tbody>
              {% for line in settings['data'] %}
              <tr>
                <td>{{line.name}}</td>
                <td>{{line.brewer}}</td>
                <td>{{line.location}}</td>
                <td>{{line.tfidf}}</td>
                <td>{{line.rating}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
